# Trage hier deinen Bot Token ein (ohne Anführungszeichen!)
DISCORD_BOT_TOKEN=

# Optional: Falls die Client ID sich vom Bot unterscheidet (wird sonst automatisch aus dem Token generiert!)
DISCORD_CLIENT_ID=1471223610315247616

# Spotify API Zugangsdaten
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

# Der Port, über den der Inferno Media Player mit dem Bot redet (Standard: 8081)
WEB_PORT=8081

# Falls ffmpeg nicht in deinen System-Pfaden ist, kannst du hier den direkten Pfad angeben:
FFMPEG_PATH=ffmpeg